

h1 {
  color: #6F6F6F;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 30px;
  padding-bottom: 10px;
  cursor: default;
}

.taskGroupName{
  padding: 10px;
  padding-left: 25px;
  font-size: 18px;
  cursor: pointer;
}

.taskGroupItem{
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-top: 1px solid #DCE0E5;
  align-items: center;
}

.imageIcon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.taskComplete{
  padding-left: 25px;
  cursor: pointer;
  text-decoration-line: line-through;
}

.taskIncomplete{
  padding-left: 25px;
  cursor: pointer;
}

.taskItem{
  display: flex;
  flex-direction: row;
  padding: 25px;
  border-top: 1px solid #DCE0E5;
  align-items: center;
}


.tasksPage{
  display: flex;
  flex-direction: row;
}

.leftContainer{
  display: flex;
  flex-direction: column;
  padding-left: 2px;
}


.allTasks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
}


.link{
  cursor: pointer;
  color: #5E9DCF;
  margin-top: 60px;
}
